body {
    background-color: #c0dbed;
}

.navbar {
    z-index: 10000;
    background-color: #053661 !important;
    padding: 15px;
    position: fixed;
    width: 100%;
}

.navbar-brand {
    color:white;
}

.nav-link, .navbar-nav .nav-link.active {
    color: white;
}

.nav-button{
    display: inline-block;
    outline: 0;
    border: none;
    box-shadow: none;
    cursor: pointer;
    padding: 9px 22px;
    height: 50px;
    font-weight: 400;
    color: #fff;
    text-align: center;
    line-height: normal;
    background: linear-gradient(90deg,#5522fa 0,#0074e4 100%);
    border-radius: 50px;
    transition: color .2s ease,background-color .2s ease,box-shadow .2s ease;
}

.nav-button:hover {
    box-shadow: 0 0 0 0.15rem #5ceace;
}
.navbar {
    z-index: 10000;
    background-color: #053661 !important;
    padding: 15px;
    position: fixed;
    width: 100%;
}

.navbar-brand {
    color:white;
}

.nav-link, .navbar-nav .nav-link.active {
    color: white;
}

.nav-button{
    display: inline-block;
    outline: 0;
    border: none;
    box-shadow: none;
    cursor: pointer;
    padding: 9px 22px;
    height: 50px;
    font-weight: 400;
    color: #fff;
    text-align: center;
    line-height: normal;
    background: linear-gradient(90deg,#5522fa 0,#0074e4 100%);
    border-radius: 50px;
    transition: color .2s ease,background-color .2s ease,box-shadow .2s ease;
}

.nav-button:hover {
    box-shadow: 0 0 0 0.15rem #5ceace;
}

.form-control {
    border-radius: 50px;
}

.padding {
    padding-top: 70px;
}
@media only screen and (min-width: 992px) {
    .padding {
        padding-top: 80px;
    }
}

.card-flex {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    margin-top: 25px;
}